.body{

}
.container {
    display: grid;
    grid-template-areas:
      "side main main"
      "side main main"
      "side main main";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;



    min-height: 100vh;
  }
  
  .side {
    grid-area: side;
    background-color: #ccc;
  }
   
  .main {
    grid-area: main;
    background-color: #eee;

  }
  h1{
    text-align: center;

  }
  .box1{
    display: flex;
    flex-direction: row;
    margin: 10px;
   background-color: black;
    width: 40vh;
    height: 40vh;
    color: #ccc;
font-size: 30px;
justify-content: center

}
.container1 {
	background-color: #eee;
	width: 330px;
	margin: 30px auto;
	
	display: grid;
	grid-template-rows: 150px 150px;
	grid-template-columns: 150px 150px 150px;
	
	grid-gap: 30px;
}

.item {
	padding: 20px;
	font-size: 30px;
	font-family: sans-serif;
	color: white;
	

}
.flex1{
   display: flex;
   margin: 33px;
   flex-direction: row;
}
.fbox{
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: bisque;
}

